/* app css stylesheet */
body {
	padding-top: 40px;
}
/* MUST HAVE WIDTH/HEIGHT */
.ace-editor {
	width:280px;
	height:500px;
}
.editor {
	position:absolute;
	width:100%;
	min-height: 500px;
/*	line-height: 1.3;*/
}
#contents {
	width:500px;
	height:500px;
	position:absolute;
	left:500px;
	top:0;
}
#appContainer{
	padding:0;
	background:#eee;
}
.editor-container, .preview-container{
	float:left;
	display:inline-block;
}
.editor-container{
	box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.065);
	padding: 0;
	border-left: none;
	width:33.8%;
}
.editor-container h3, .preview-container h3{
	border-bottom:1px solid #e0e0e0;
	text-align: center;
	margin:0;
	background:#f1f1f1;
}
.preview-container{
	border-left: 1px solid #e0e0e0;
	background: #fff;
	width:66%;
}